/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-rows: 200px 1fr 50px;
    padding: 70px 70px 70px 24px;
    background-color: #f5cf06;
}
header{
    background-color: #f5cf06;
}

main{
    background-color: #f5cf06;
}

footer{
    background-color: #f5cf06;
}